{{ define "main" }}
<div class="mx-auto py-6 px-4 bg-gray-50">
    <div class="max-w-5xl mx-auto">
        <h1 class="mb-1 text-3xl lg:text-4xl font-bold font-heading mb-2">{{ .Title }}</h1>
        {{ if .Params.description }}
        <p class="flex mb-1 font-mono">
            <i icon-name="info" height="16px" class="flex-none -mx-1 mt-1"></i>&nbsp;
            <span class="ml-1 sm:ml-0">{{ .Description }}</span>
        </p>
        {{ end }}
        {{ if .Params.show.meta }} {{ partial "metadata" . }} {{ end }} {{ if .Params.cover.path }}
        <p class="">
            <img class="rounded object-cover mx-auto h-96 w-full" src="{{ .Params.cover.path }}" alt="{{ .Params.cover.alt }}" />
        </p>
        {{ if .Params.cover.caption }}
        <p class="text-right text-sm italic opacity-50 -my-3 mb-2">{{ .Params.cover.caption }}</p>
        {{ end }} {{ end }} {{ if .Params.show.meta }} {{ partial "metadata2" . }} {{ end }} {{ if .Params.show.contents }} {{ partial "contents" . }} {{ end }}
        <hr class="border border-dashed my-4 text-light-tertiary dark:text-dark-tertiary" />
        <article id="post-content" class="mb-12 text-lg leading-relaxed">
            {{ .Content | replaceRE "(<h[1-6]\\sid=\"([^\"]+)\"\\s?>)(.+)(</h[1-6]+>)" "${1}<a class=\"anchor nodec\" href=\"#${2}\"><span class=\"hover-link\">${3}<span class=\"hash\"></span></span></a>${4}" | safeHTML }}
        </article>
        {{ if .Params.show.footnote }}
        <div class="text-lg">
            <hr class="text-light-tertiary dark:text-dark-tertiary" />
            <div class="text-center text-3xl -mb-2">***</div>
            <hr class="mb-10 text-light-tertiary dark:text-dark-tertiary" />
            <p>{{ .Site.Params.footnote | markdownify }}</p>
            <div>
                {{ if .NextPage }}
                <a class="hover:text-theme w-full" href="{{ .NextPage.Permalink }}" title="{{ .NextPage.Title }}">
                    <b>→</b>
                    <u>{{ .NextPage.Title }}</u>
                </a>
                {{ end }}
                <br />
                {{ if .PrevPage }}
                <a class="hover:text-theme w-full" href="{{ .PrevPage.Permalink }}" title="{{ .PrevPage.Title }}">
                    <b>←</b>
                    <u>{{ .PrevPage.Title }}</u>
                </a>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ partial "jump" . }}
{{ end }}
