<div class="py-2 font-mono">
    <button class="accordion w-full flex items-center mb-1 hover:text-theme" title="Table of contents">
        <i icon-name="list-ordered" height="16px" class="-mx-1 text-light-text dark:text-dark-text"></i>&nbsp;
        <span class="ml-1 sm:ml-0 text-light-text dark:text-dark-text">Contents</span>
        <i icon-name="chevrons-down-up" height="16px" class="ml-auto -mr-3"></i>&nbsp;
    </button>
    <div class="panel hidden lg:block pl-6 ml-2 border-l border-solid border-light-tertiary dark:border-dark-tertiary font-mono" title="Contents">{{ .TableOfContents }}</div>
</div>

