<div id="header">
    <nav class="relative opacity-95 py-5 lg:py-0 bg-light-secondary dark:bg-dark-secondary border-b border-light-tertiary dark:border-dark-tertiary">
        <div class="mx-auto px-4 flex justify-between items-center">
            <a href="/">
                <img class="h-6" src="{{ .Site.Params.logoPath }}" alt="{{ .Site.Title }} Logo" />
            </a>
            <ul class="hidden lg:mx-auto lg:flex lg:w-auto lg:space-x-6">
                {{ range .Site.Menus.header }}
                <li class="mb-1">
                    <a class="flex items-center gap-2 py-2 pt-3 text-sm font-semibold" href="{{ .URL }}" title="{{ .Name }}">
                        {{ if .Pre }}
                        <i icon-name="{{ .Pre | safeHTML }}" height="14pt" class="mt-px"></i>
                        {{ end }} {{ .Name | safeHTML }}
                    </a>
                </li>
                {{ end }}
            </ul>
            <div class="flex">
                <button id="theme-toggle" type="button" title="Toggle theme" name="Toggle theme">
                    <i icon-name="sun" id="theme-toggle-light-icon" class="hidden w-5 h-5 hover:text-theme"></i>
                    <i icon-name="moon" id="theme-toggle-dark-icon" class="hidden w-5 h-5 hover:text-theme"></i>
                </button>
                <div class="hidden lg:block ml-4 mt-2">{{ partial "search-form.html" . }}</div>
                <div class="lg:hidden">
                    <button class="navbar-burger flex items-center text-light-text dark:text-dark-text px-3" title="Toggle sidebar" name="Toggle sidebar">
                        <i icon-name="menu" height="24px"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>
