<div class="skewed-bottom-right bg-stone-800 pt-12 lg:pt-20 pb-20 radius-for-skewed">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center">
                <div class="w-full">
                    <div class="mb-4">
                        <h2 class="block mb-8 text-4xl lg:text-5xl text-white font-bold">{{ .Site.Params.indexTitle }}</h2>
                        <span class="text-gray-400 text-xl">{{ .Site.Params.indexSubTitle | markdownify }}</span>
                        <div class="flex gap-8 mt-8">
                            {{ range .Site.Menus.socials }}
                            <a class="text-gray-400 hover:text-gray-50" href="{{ .URL }}" title="{{ .Name }}">
                                <i icon-name="{{ .Pre | safeHTML }}" height="18pt"></i>
                            </a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-1/2 px-4 flex items-center justify-center">
                <div class="relative" style="z-index: 0">
                    <img class="w-full max-w-lg object-cover rounded-full" src="{{ .Site.Params.headshot }}" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mr-for-radius bg-gray-50 dark:bg-slate-800">
    <svg class="h-8 md:h-12 lg:h-20 w-full text-stone-800" viewBox="0 0 10 10" preserveAspectRatio="none">
        <polygon fill="currentColor" points="0 0 10 0 0 10"></polygon>
    </svg>
</div>
