<noscript>
    <div class="p-4 bg-no-script">
        <b>⚠ WARNING:</b>
        It looks like JavaScript is disabled in your browser. This site requires JavaScript to display content as intended. Please consider
        <a href="https://www.enable-javascript.com" class="underline">enabling JavaScript</a> to ensure proper functionality. Did you disable JavaScript for security reasons? If so, you may audit the full source code of this site
        <a href="{{ .Site.Params.repoLink }}" class="underline">here</a>.
    </div>
</noscript>
