<!-- Lucide icon loader -->
<script src="/js/lucide.min.js"></script>
<script>
    lucide.createIcons();
</script>

<!-- Sidebar open/close toggle script -->
<script src="/js/sidebar.min.js"></script>

<!-- Accordion open/close toggle script -->
<script src="/js/accordion.min.js"></script>

<!-- Theme toggle script -->
<script src="/js/theme.min.js"></script>

<!-- Jump to top button script -->
<script src="/js/jump.min.js"></script>

<!-- Clickable image zoom script -->
<script src="/js/zooming.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let z = new Zooming({ bgColor: "#00000080", scaleExtra: 1, transitionDuration: 0.3 });
        z.listen("p img");
    });
</script>
<!-- Search bar query script -->
<script src="/js/searchbar.min.js"></script>

<!-- Lunr search (ty to victoria.dev for implementation!)-->
<script>
    window.store = {
        {{ range .Site.Pages }}
        "{{ .Permalink }}": {
            "title": "{{ .Title  }}",
            "content": {{ .Content | plainify }},
            "url": "{{ .Permalink }}"
        },
        {{ end }}
    }
</script>
<script src="/js/lunr.min.js"></script>
<script src="/js/search.min.js"></script>
