<!-- Lucide icon loader -->
<script src="/js/lucide.min.js"></script>
<script>
    lucide.createIcons();
</script>

<!-- Sidebar open/close toggle script -->
<script src="/js/sidebar.min.js"></script>

<!-- Accordion open/close toggle script -->
<script src="/js/accordion.min.js"></script>

<!-- Search bar query script -->
<script src="/js/searchbar.min.js"></script>

<!-- Jump to top button script -->
<script src="/js/jump.min.js"></script>

<!-- Clickable image zoom script -->
<script src="/js/zooming.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded",function(){let z=new Zooming({bgColor:"#00000080",scaleExtra:1,transitionDuration:.3});z.listen("p img")});
</script>
