<div class="py-12 bg-gray-50 dark:bg-slate-800 radius-for-skewed">
    <div class="container mx-auto px-4">
        <div class="mb-16 flex flex-wrap items-center">
            <div class="w-full lg:w-1/2">
                <h2 class="text-4xl lg:text-5xl font-bold font-heading text-stone-800">Recent Posts</h2>
            </div>
            <div class="hidden lg:block text-right w-1/2">
                <a class="flex justify-end py-2 px-6 gap-2 hover:text-gray-500" href="/archive">
                    <i icon-name="plus" height="16pt" class="pt-px"></i>
                    View All Pages
                </a>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3">
            <div class="mb-8 lg:mb-0 w-full lg:w-1/4 px-3">
                <div class="py-4 px-6 bg-white shadow rounded">
                    <button class="accordion w-full flex items-center my-4 text-gray-500 font-bold uppercase">
                        <i icon-name="folder-tree" height="20px" class="mr-2"></i>
                        Sections
                        <i icon-name="chevrons-down-up" height="20px" class="ml-auto"></i>
                    </button>
                    <div class="panel hidden lg:block">
                        <ul>
                            {{ range .Data.Pages }}
                            <li>
                                <a class="flex items-center py-2 px-3 mb-4 rounded text-gray-600 hover:text-stone-800 bg-gray-50 hover:bg-gray-100" href="{{ .Permalink }}">
                                    <i icon-name="{{ if .IsSection }}folder-open{{ else }}file-text{{ end }}" height="20px" class="mr-2"></i>
                                    {{ .Name }}
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                    <hr class="mb-4" />
                    <button class="accordion w-full flex items-center mb-4 text-gray-500 font-bold uppercase">
                        <i icon-name="tags" height="20px" class="mr-2"></i>
                        Tags
                        <i icon-name="chevrons-down-up" height="20px" class="ml-auto"></i>
                    </button>
                    <div class="panel hidden lg:block">
                        <ul>
                            {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $count := .Count }} {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                            <li>
                                <a class="flex items-center py-2 px-3 mb-4 rounded text-gray-600 hover:text-stone-800 bg-gray-50 hover:bg-gray-100" href="{{ .Permalink }}">
                                    <i icon-name="hash" height="20px" class="mr-2"></i>
                                    {{ .Name }}
                                    <sup><i class="pl-1 text-xs">({{ $count }})</i></sup>
                                </a>
                            </li>
                            {{ end }} {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-3/4 px-3 text-stone-800">
                {{- range ( where site.RegularPages.ByPublishDate.Reverse "Section" "in" (slice "articles" "notes") | first 8 ) }}
                <a class="flex flex-wrap mb-4 py-6 px-2 bg-white shadow rounded hover:shadow-lg" href="{{ .Permalink }}">
                    {{ if .Params.cover.path }}
                    <div class="mb-4 lg:mb-0 w-full lg:w-1/4 px-3">
                        <img class="w-full h-36 object-cover rounded bg-gray-50" src="{{ .Params.cover.path }}" alt="" />
                    </div>
                    {{ end }}
                    <div class="w-full lg:w-3/4 px-3">
                        <h3 class="mb-1 text-2xl font-bold font-heading">{{ .Title }}</h3>
                        <div class="my-2 flex-col items-center text-sm font-mono">
                            <div class="flex">
                                <i icon-name="calendar" height="16px" class="mt-px -ml-1 mr-1"></i>
                                {{ .Date.Format "2006-01-02" }}
                            </div>
                            <div class="flex">
                                <i icon-name="clock" height="16px" class="mt-px -ml-1 mr-1"></i>
                                ~{{ .ReadingTime }} min
                            </div>
                            {{- with .Params.tags -}} {{- if ge (len .) 1 -}}
                            <div class="inline-flex">
                                <i icon-name="tag" height="16px" class="mt-px -ml-1 mr-1"></i>
                                <span> {{- range . -}} #{{ . }} {{ end -}} </span>
                            </div>
                            {{- end -}} {{- end -}}
                        </div>
                        <p class="text-gray-600">{{ .Description }}</p>
                    </div>
                </a>
                {{ end }}
                    <a class="flex flex-wrap mb-4 py-6 px-2 bg-white shadow rounded hover:shadow-lg justify-center" href="/archive">
                        <i icon-name="plus" height="16pt" class="pt-px"></i>
                        More
                    </a>
            </div>
        </div>
    </div>
</div>
