<div id="sidebar" class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-full z-50">
    <div class="navbar-backdrop fixed inset-0 opacity-50"></div>
    <nav class="relative flex flex-col py-4 px-4 h-full w-full max-w-md bg-light-primary dark:bg-dark-primary overflow-y-auto">
        <div class="flex items-center mb-8">
            <a class="mr-auto" href="/">
                <img class="h-6" src="{{ .Site.Params.logoPath }}" alt="{{ .Site.Title }} Logo" />
            </a>
            <button class="navbar-close">
                <i icon-name="x" height="24px" class="text-white mr-3"></i>
            </button>
        </div>
        <div class="items-center mb-5">
            <form class="relative">
                <button type="submit">
                    <i icon-name="search" height="18px" class="absolute top-1/2 left-2 -translate-y-1/2"></i>
                </button>
                <input
                    class="w-96 h-9 py-1 pl-9 pr-4 text-sm text-light-text font-medium focus:outline-none focus:ring-2 focus:ring-theme focus:ring-opacity-50 border rounded-lg shadow-xsm font-mono"
                    type="text"
                    id="search-input"
                    name="q"
                    placeholder="Search this site" />
            </form>
        </div>
        <div id="sidebar-links">
            <div class="w-full mb-6">
                <div class="mb-4 font-mono font-bold text-2xl flex">
                    <i icon-name="link" height="24px" class="mt-1 mr-2"></i>
                    Links
                </div>
                {{ range .Site.Menus.header }}
                <a class="flex text-lg hover:text-theme pl-4 ml-3 border-l border-solid border-light-tertiary dark:border-dark-tertiary" href="{{ .URL }}">
                    {{ if .Pre }}
                    <i icon-name="{{ .Pre | safeHTML }}" height="18px" class="mt-1 mr-1"></i>
                    {{ end }} {{ .Name | safeHTML }}
                </a>
                {{ end }}
            </div>
            <div class="w-full mb-6">
                <div class="mb-4 font-mono font-bold text-2xl flex">
                    <i icon-name="send" height="24px" class="mt-1 mr-2"></i>
                    Contact
                </div>
                {{ range .Site.Menus.socials }}
                <a class="flex text-lg hover:text-theme pl-4 ml-3 border-l border-solid border-light-tertiary dark:border-dark-tertiary" href="{{ .URL }}" title="{{ .Name }}">
                    <i icon-name="{{ .Pre | safeHTML }}" height="18px" class="mt-1 mr-1"></i>
                    {{ .Name }}
                </a>
                {{ end }}
            </div>
            <div class="w-full mb-6">
                <div class="mb-4 font-mono font-bold text-2xl flex">
                    <i icon-name="bell-plus" height="24px" class="mt-1 mr-2"></i>
                    Recent
                </div>
                {{- range ( where site.RegularPages.ByPublishDate.Reverse "Section" "in" (slice "articles" "notes") | first 5 ) }}
                <a class="flex text-lg hover:text-theme pl-4 ml-3 border-l border-solid border-light-tertiary dark:border-dark-tertiary" href="{{ .Permalink }}" title="{{ .Name }}">
                    <i icon-name="file-plus" height="18px" class="mt-1 mr-1"></i>
                    {{ .Name | truncate 22 }}
                </a>
                {{ end }}
            </div>
            <div class="flex flex-col lg:flex-row lg:justify-center lg:space-x-2 lg:space-y-0 space-y-1 text-xs">
                <div class="flex">
                    <i icon-name="copyright" height="14px" class="mt-px"></i>
                    Copyright {{ now.Format "2006" }} {{ if and .Site.Params.authorPage .Site.Params.authorName }} &nbsp;<a href="{{ .Site.Params.authorPage }}" class="underline hover:text-theme">{{ .Site.Params.authorName }}</a>
                    {{ else if .Site.Params.authorName }} &nbsp;{{ .Site.Params.authorName }} {{ end }}
                </div>
                <div class="flex">
                    <i icon-name="scale" height="14px" class="mt-px"></i>
                    Content&nbsp;<a href="{{ .Site.Params.licenseLink }}" class="underline hover:text-theme">{{ .Site.Params.licenseName }}d</a>
                </div>
                {{ if .Site.Params.attributionPage }}
                <div class="flex">
                    <i icon-name="library" height="14px" class="mt-px"></i>
                    <a href="{{ .Site.Params.attributionPage }}" class="underline hover:text-theme">Attributions page</a>
                </div>
                {{ end }}
                <div class="flex">
                    <i icon-name="palette" height="14px" class="mt-px"></i>
                    <a href="https://github.com/lacysw/hugo-port-theme" class="underline hover:text-theme">Port Theme</a>&nbsp;for Hugo
                </div>
                <div class="flex">
                    <i icon-name="cog" height="14px" class="mt-px"></i>
                    Last Built {{ now.Format "January 2, 2006" }} {{ .Site.Params.timezone}}
                </div>
            </div>
        </div>
    </nav>
</div>
