{{ define "main" }}
<div class="mx-auto py-6 px-4 bg-gray-50">
    <div class="max-w-5xl mx-auto">
        <h2 class="mb-4">{{ .Site.Params.authorName }} Resume</h2>
        {{ if and .Site.Params.resumeLink .Site.Params.resumeFile }}
        <p>View my most recent resume below <span class="sm:hidden">(swipe to pan content on mobile)</span> or download it <a href="{{ .Site.Params.resumeFile }}">here</a>. Source is <a href="{{ .Site.Params.resumeSrc }}">here</a>.</p>
        <div class="mt-4">
            <iframe id="pdf-iframe" src="{{ .Site.Params.resumeFile }}" width="100%"></iframe>
        </div>
        {{ else }}
        <p>Sorry, I have no uploaded resume at this time.</p>
        {{ end }}
    </div>
</div>
<script>
    var iframe = document.getElementById("pdf-iframe");
    // On resize, dynamically set the height of the iframe to 1.3x the width of
    // the parent element to remove scrollbars and maintain viewport
    function resizeIframe() {
        iframe.style.height = iframe.offsetWidth * 1.3 + "px";
    }
    window.addEventListener("resize", resizeIframe);
    resizeIframe();
</script>
{{ end }}
