{{ define "main" }}
<meta name="description" content="{{ .Site.Title }} | Search" />
<div class="mx-auto py-6 px-4 bg-gray-50">
    <div class="max-w-5xl mx-auto">
        <h2 class="mb-4">Site Search</h2>
        {{ partial "search-form.html" . }}
        <button class="accordion w-full flex items-center mt-2 mb-1 hover:text-theme" title="Table of contents" name="Table of contents">
            <i icon-name="regex" height="16px" class="-mx-1 text-light-text dark:text-dark-text"></i>&nbsp;
            <b class="ml-1 sm:ml-0 text-light-text dark:text-dark-text">Advanced Search Operators</b>
            <i icon-name="chevrons-down-up" height="16px" class="ml-auto -mr-3"></i>&nbsp;
        </button>
        <div id="search-help" class="panel hidden lg:block pl-3 ml-2 border-l border-solid border-light-tertiary dark:border-dark-tertiary" title="Search Help">
            <ul class="mt-2">
                <li><b>Fuzzyness:</b> <code>foo~1</code> returns articles containing "foo" and permutations of "foo" within a one-char difference (e.g. "foz")</li>
                <li><b>Wildcards:</b> <code>bar*</code> returns articles containing "bar" and any subsequent character(s)</li>
                <li><b>Title tags:</b> <code>title:baz</code> returns articles containing "baz" in their titles</li>
                <li><b>Operators:</b> <code>+quux -xyzzy</code> returns articles containing "quux" but not "xyzzy"</li>
                <li><b>Weights:</b> <code>corge^10 grault^2</code> returns articles containing "corge" and/or "grault" but "corge" will have 5x relevance</li>
            </ul>
        </div>
        <hr class="border border-dashed mt-7 mb-6 text-light-tertiary dark:text-dark-tertiary" />
        <ul id="results">
            <li class="lg:flex-wrap text-theme">
                <b>⚠ No search query was provided.</b>
                Either enter a search query or navigate to
                <spans class="my-px font-mono">/search?query=search_query</spans>
            </li>
        </ul>
    </div>
</div>
{{ end }}
